@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    color: #222;
}

/* html{
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
body{
    background-color: white;
} */

h3.h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h4.h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.container-portafolio{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    -webkit-column-gap: 15px;
    column-gap: 15px;
    row-gap: 40px;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }