---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import imgPresentacion from '../assets/img/imagen-home.jpg'
---

<Layout title="Santiago Merlo">
	<main>
		<h1 class="text-6xl font-bold mb-14">Hola! Soy <span class="text-secondary">Santiago Merlo</span>, desarrollador web fullstack.</h1>
		<section class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ad aliquid esse autem, sapiente inventore facere eos dolorum itaque, veritatis blanditiis nostrum impedit optio. Cum expedita magnam itaque sunt obcaecati corporis quasi quaerat, autem asperiores commodi totam dignissimos laborum? Provident reprehenderit deleniti libero dolore? Sunt adipisci voluptatibus rem hic tempore praesentium sed vitae recusandae mollitia. Beatae enim reiciendis cupiditate dignissimos at voluptates, quod omnis commodi repellendus quidem, quae a consequuntur deserunt voluptas fugit? Ut exercitationem voluptates delectus quod expedita. Veritatis ratione accusantium harum doloremque id numquam nostrum reprehenderit omnis, vitae, molestiae quam quidem itaque illum adipisci sapiente, non quasi nisi!
			</p>
			<Image class="rounded-xl w-64 mx-auto" src={imgPresentacion} alt="Santiago Merlo"></Image>
		</section>
	</main>
</Layout>