---
import Layout from '../layouts/Layout.astro';
import Skill from '../components/Skill.astro'
import { Image } from 'astro:assets';
import imgPresentacion from '../assets/img/imagen-home.jpg'
import videoPortafolio from '../assets/video/portafolio.mp4'
---

<Layout title="Santiago Merlo">
	<main>
		<h1 class="text-5xl md:text-7xl font-bold mb-14 text-center">Hola! Soy <span class="text-primary">Santiago Merlo</span>, desarrollador web <span class="cursor-animation">fullstack.</span></h1>
		<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center mb-6">
			<div class="flex flex-wrap gap-4">
				<p class="font-light text-center sm:text-start text-xl">
					Soy un desarrollador web <strong class="font-bold">fullstack</strong> con experiencia en diversas tecnologías y habilidades relacionadas con el desarrollo de aplicaciones web y la programación. Me apasiona crear <strong class="font-bold">soluciones</strong> que mejoren la experiencia del usuario y aporten valor a los clientes.
				</p>
				<ul>
					<Skill title='Desarrollo Web Full Stack' description='HTML, CSS, Bootstrap, Tailwind, JavaScript, TypeScript, React, Material UI, Nextjs, Astro, Python Django'></Skill>
					<Skill title='Programación' description='POO, C#, .NET, Python, MVC, API REST'></Skill>
					<Skill title='Bases de Datos' description='SQL, OQL, SQL Server, MySQL, Modelado de datos'></Skill>
					<Skill title='Controlador de versiones' description='Git, Github'></Skill>
					<Skill title='Otros' description='UML, Photoshop, Illustrator, paquete Office'></Skill>
				</ul>
			</div>
			<Image class="rounded-xl mx-auto object-cover sm:object-contain h-3/4 sm:h-auto" width={500} src={imgPresentacion} alt="Santiago Merlo"></Image>
		</section>

		<h4 class="text-5xl font-bold w-1/2 mx-auto text-center pt-8 pb-6">Mis proyectos 💼</h4>

		<a id="video-container" class="block w-2/3 mx-auto" href="/portafolio">
			<article class="video-article-container rounded-2xl">
				<video id="mi-video" src={videoPortafolio} class="h-64 w-1/2 mx-auto" muted></video>
			</article>
		</a>
		
	</main>
	<script>
		var videoContainer = document.getElementById('video-container') as HTMLAnchorElement
		var video = document.getElementById('mi-video') as HTMLVideoElement;
		if(video instanceof HTMLVideoElement) {

			videoContainer.addEventListener('mouseover', function() {
				video.play();
			});

			videoContainer.addEventListener('ended', function() {
				video.pause();
			});

		} else {
			console.error('El elemento obtenido no es un elemento de video.');
		}
		
	</script>

</Layout>

<style>
	.video-article-container{
		transition: box-shadow 0.3s ease;
		background-color: #efeecc;
	}

	.video-article-container:hover{
		box-shadow: 0px 1px 10px 0px rgba(254,139,5,0.75);
		-webkit-box-shadow: 0px 1px 10px 0px rgba(254,139,5,0.75);
		-moz-box-shadow: 1px 1px 10px 0px rgba(254,139,5,0.75);
	}

	.cursor-animation{
		border-right: 3px solid;
		animation: efecto .5s step-end infinite alternate;
	}
	@keyframes efecto {
		50%{
			border-color: transparent;
		}
	}
</style>