---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import imgPresentacion from '../assets/img/imagen-home.jpg'
---

<Layout title="Santiago Merlo">
	<main>
		<h1 class="text-5xl md:text-6xl font-bold mb-14 text-center">Hola! Soy <span class="text-secondary">Santiago Merlo</span>, desarrollador web fullstack.</h1>
		<section class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center">
			<div class="flex flex-wrap gap-4">
				<p class="font-light text-center sm:text-start">
					Soy un desarrollador web <strong class="font-bold">fullstack</strong> con experiencia en diversas tecnologías y habilidades relacionadas con el desarrollo de aplicaciones web y la programación. Me apasiona crear <strong class="font-bold">soluciones</strong> que mejoren la experiencia del usuario y aporten valor a los clientes.
				</p>
				<ul>
					<li class="mb-2">
						<h4 class="text-primary font-medium">Desarrollo Web Full Stack</h4>
						<p class="font-light text-sm">HTML, CSS, Bootstrap, Tailwind, JavaScript, TypeScript, Next.js, Astro, Python Django, React y Material UI</p>
					</li>
					<li class="mb-2">
						<h4 class="text-primary font-medium">Programación</h4>
						<p class="font-light text-sm">POO, C#, .NET, Python, MVC, API REST</p>
					</li>
					<li class="mb-2">
						<h4 class="text-primary font-medium">Bases de Datos</h4>
						<p class="font-light text-sm">SQL, OQL, SQL Server, MySQL, Modelado de datos</p>
					</li>
					<li class="mb-2">
						<h4 class="text-primary font-medium">Controlador de versiones</h4>
						<p class="font-light text-sm">Git, GitHub</p>
					</li>
					<li class="mb-2">
						<h4 class="text-primary font-medium">Otros</h4>
						<p class="font-light text-sm">UML, Photoshop, Illustrator, paquete Office</p>
					</li>
				</ul>
			</div>
			<Image class="bg-img rounded-xl w-72 mx-auto" src={imgPresentacion} alt="Santiago Merlo"></Image>
		</section>
	</main>
</Layout>