---
import Header from '../components/Header.astro';
interface Props {
	title: string;
}
import { Image } from 'astro:assets';
import bgImg from "../assets/img/background-red.png"

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mi portafolio 💻" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-screen">
		<Header></Header>
		<Image class="absolute background-img opacity-25 object-cover h-screen z-0 w-screen 4xl:w-auto" width="1600" src={bgImg} alt="Alta imagen"></Image>
		<div class="py-8 px-4 mx-auto max-w-4xl lg:py-16 lg:px-6">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		/* --color-dark: #400403; */
		--color-dark: #2f0606;
		--color-light: #efeecc;
		--color-primary: #fe8b05;
		--color-secondary: #fe0557;
		--color-tertiary: #0aabba;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--color-dark)),
			rgb(var(--color-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Roboto', sans-serif;
		/* background: var(--color-dark); */
		background: black;
		background-size: 224px;
		color: var(--color-light);
	}
	.background-dark{
		background-color: var(--color-dark);
	}
	.background-light{
		background-color: var(--color-light);
	}
	.text-primary{
		color: var(--color-primary);
	}
	.text-secondary{
		color: var(--color-secondary);
	}
	.text-tertiary{
		color: var(--color-tertiary);
	}
	.background-img{
		z-index: -99999;
	}

</style>
